@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@700&display=swap");

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

.home {
  padding: 100px 0;
}

.login {
  padding: 100px 0;
}
.login h2 {
  text-align: center;
}
.eyecomp {
  background: #e5e7eb;
}
.round-skeleton {
  width: 24px; /* adjust size as needed */
  height: 24px; /* same as width */
  background-color: #e0e0e0; /* your choice of skeleton color */
  border-radius: 50%;
}
.info-text {
  flex-grow: 1;
  text-align: center;
}

.clap-bubble {
  position: absolute;
  bottom: 30px; /* Adjust based on your icon's position */
  right: 0; /* Adjust as needed to position correctly next to the icon */
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height to match the width */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: bubble-animation 0.5s linear; /* Faster animation */
}

@keyframes bubble-animation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fireworks {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
